#### Bot lib ####
python-telegram-bot==13.13
telethon==1.25.4
#################
aiohttp>=2.2.5
bleach
emoji
future
googletrans>=3.1.0a0
hurry.filesize
markdown2
Pillow>=4.2.0
psycopg2-binary
pydantic
python-rapidjson
PyYAML
requests>=2.20.0
SQLAlchemy~=1.0
tldextract
wikipedia
covid
